.menubar{
    -fx-background-color: white;
    -fx-text-background-color: black;
    -fx-border-width: 2.0;
}


.menu-item{
    -fx-background-color: white;
}

.text-field {
    -fx-background-color: #FE9600 , white , white;
    -fx-background-insets: 0 -2 -2 -2, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.text-field:focused {
    -fx-background-color: #FE9600 , white , white;
    -fx-background-insets: 0 -2 -2 -2, 0 0 0 0, 0 -1 3 -1;
}

.Button{
    -fx-background-color:  #77477E;
    -fx-background-radius: 10; 
    -fx-border-radius: 10;
    -fx-text-fill: white;
}
.Button:hover{
    -fx-background-color:  #9c667d;
    -fx-background-radius: 10; 
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-border-color: #ce938b;
    -fx-border-radius : 11;
    -fx-border-width: 3;
}

.Button:pressed{
    -fx-background-color:  #9c667d;
    -fx-background-radius: 10; 
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-border-color: #ce938b;
    -fx-border-radius:  11;
    -fx-border-width: 3;
    -fx-rotate: 5;
}


.table-row-cell:hover {
    -fx-background-color: #77477E; 
}


.table-row-cell:hover .table-cell {
    -fx-text-fill: white; 
    -fx-font-weight: bold; 
}


.table-row-cell:selected {
    -fx-background-color: #FFEE4A;
}


.table-view .column-header-background {
    -fx-background-color: #FE9600; 
}


.table-view .column-header {
    -fx-text-fill: white; 
    -fx-font-weight: bold; 
}